<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="module:fa:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()" shiro:hasPermission="module:fa:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-info table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('module:fa:edit')}]];
        var removeFlag = [[${@permission.hasPermi('module:fa:remove')}]];
        var prefix = ctx + "module/fa"

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "征收父级",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'bIE001', 
					title : '核定流水号(主键)' 
				},
				{
					field : 'bAE001', 
					title : '核定表号(主键)' 
				},
				{
					field : 'aAB034', 
					title : '社会保险经办机构编码' 
				},
				{
					field : 'aAA028', 
					title : '缴费主体类型(1：单位、
2：个人)
' 
				},
				{
					field : 'aAZ010', 
					title : '缴费主体编号（aab001、aac001）' 
				},
				{
					field : 'aAB003', 
					title : '缴费主体身份代码（社会保障号、单位社会信用代码）' 
				},
				{
					field : 'aAB069', 
					title : '缴费主体名称' 
				},
				{
					field : 'aAE002', 
					title : '结算期' 
				},
				{
					field : 'aAE003', 
					title : '费款所属期' 
				},
				{
					field : 'aAE140', 
					title : '险种代码' 
				},
				{
					field : 'aAA116', 
					title : '业务编码' 
				},
				{
					field : 'aAE020', 
					title : '应收金额合计' 
				},
				{
					field : 'aAB119', 
					title : '应缴笔数' 
				},
				{
					field : 'aAE080', 
					title : '实缴金额' 
				},
				{
					field : 'aAE017', 
					title : '核销标志' 
				},
				{
					field : 'aAE018', 
					title : '核销时间' 
				},
				{
					field : 'aAC128', 
					title : '缴费方式(银行：银行号
税务：99999
)' 
				},
				{
					field : 'aAB190', 
					title : '到账标志(1：到账
0：未到账
)' 
				},
				{
					field : 'aAB191', 
					title : '到帐日期' 
				},
				{
					field : 'aAE011', 
					title : '经办人' 
				},
				{
					field : 'aAE036', 
					title : '经办日期' 
				},
				{
					field : 'recieveDate', 
					title : '接收入库时间' 
				},
				{
					field : 'sendStatus', 
					title : '发送状态（00：刚接收未发送财政
	  01：已发送财政）' 
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.bIE001 + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.bIE001 + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>